<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Seopstagram</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/imgs/instagram.png">
</head>
<body>
<section id="container">
    <header id="header" th:include="menu.html"></header>

    <section id="main_container">
        <div class="inner">
            <div class="contents_box">
                <!-- 여기서 foreach문  -->
                <article class="contents" th:each="image: ${boards}">
                    <header class="top">
                        <div class="user_container">
                            <div class="profile_img">
                                <img th:attr="src=${image.userprofileimg}, alt='프로필사진'">
                            </div>
                            <div class="user_name">
                                <div class="nick_name m_text" th:text="${image.usernick}"></div>
                            </div>
                        </div>
                    </header>

                    <div class="img_section">
                        <div class="trans_inner">
                            <div><img th:attr="src=${image.postsEntity.postimg}, alt=${image.postsEntity.postimg}"></div>
                        </div>
                    </div>

                    <div class="bottom_icons">
                        <div class="left_icons">
                            <div class="heart_btn">
                                <div class="sprite_heart_icon_outline"></div>
                            </div>
                            <div class="sprite_bubble_icon">
                            </div>
                            <div class="sprite_share_icon" data-name="share"></div>
                        </div>
                        <div class="right_icon">
                            <div class="sprite_bookmark_outline" data-name="bookmark"></div>
                        </div>
                    </div>

                    <div>
                        <div class="content">
                            <div class="content-detail">
                                <div class="nick_name m_text" th:text="${image.usernick}" id="nick_name"></div>
                                <div th:text="${image.postsEntity.content}"></div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
</section>
<script src="/js/main.js"></script>
<script>
</script>
</body>
</html>