<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Seopstagram</title>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="shortcut icon" href="/imgs/instagram.png">

    <!--  Awesome font CDN  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<section id="container">
    <header th:insert="menu.html"></header>

    <div id="main_container">
        <section class="b_inner">
            <div class="hori_cont">
                <div class="profile_wrap">
                    <div class="profile_img">
                        <img th:attr="src=${profileimg}, alt='프로필사진'">
                    </div>
                </div>

                <div class="detail">
                    <div class="top">
                        <div class="user_name" th:text="${usernick}"></div> <!-- 유저 닉네임  ok-->
                        <div class="cog-wrapper">
                            <i class="fa fa-cog" onclick="modalOpen();"></i>
                        </div>
                        <div class="modal-wrapper">
                            <div class="modal">
                                <div class="modal-title">
                                    <i class="fa fa-times" onclick="modalClose();"></i>
                                </div>
                                <div class="modal-content">
                                    <div class="modal-content-item" onclick="profileChange();">
                                        <span>프로필 변경</span>
                                    </div>
                                    <div class="modal-content-item" onclick="logout();">
                                        <span class="logout">로그아웃</span>
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                        <a href="/profile_change" class="profile_edit">프로필편집</a>-->
<!--                        <button type="button" onclick="logout();">로그아웃</button>-->
                    </div>

                    <ul class="middle">
                        <li>
                            <span>게시물</span>
                            <span th:text="${board_count}"></span>
                        </li>
                        <li>
                            <span>팔로워</span>
                            <span th:text="${follower_count}"></span>
                        </li>
                        <li>
                            <span>팔로우</span>
                            <span th:text="${following_count}"></span>
                        </li>
                    </ul>

                </div>
            </div>

            <!-- div each -->
<!--            <div th:each="board: ${boards}" class="contents_container">-->
<!--                <div class="pic">-->
<!--                    <img th:attr="src=${board.postimg}, alt='올린 사진'">-->
<!--                </div>-->
<!--            </div>-->
            <div class="contents_container">
                <div class="contents_container_gridbox">
                    <div th:each="board: ${boards}" class="pic">
                        <img th:attr="src=${board.postimg}, alt='올린 사진'">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<script src="/js/cookie.js"></script>
<script>
    const logout = () => {
        deleteCookie("Authorization");
        location.href = "/login";
    };

    const modalOpen = () => {
        document.querySelector(".modal-wrapper").style.display = "flex";
    };

    const modalClose = () => {
        document.querySelector(".modal-wrapper").style.display = "none";
    }

    const profileChange = () => {
        location.href = "/profile_change";
    }
</script>
</body>
</html>